@font-face {
	font-family: 'Supercell-magic';
	src: local('Supercell-magic-webfont'), url(../fonts/Supercell-magic-webfont.ttf) format('truetype');
}

html, body, #root, #root>div {
	height: 100vh;
	color: white;
}
.content {
	overflow: hidden;
	font-family: Supercell-magic;
	height:calc(100% - 180px);
	background-image: url('../img/bg-landing.png');
	min-height:800px;
}

.content span {
	margin: 10px;
	font-size:1.2rem;
	margin-bottom:80px;
}

.content span, h1, input[type="submit"], button, .tagCard button {
	text-shadow: 2px 2px 0px #000000;
}
.header {
	height:80px;
	background-color: #f077f4;
	box-shadow: 0px 0px 40px 1px black;
	position:relative;
	font-size:1.5rem;
}

.footer {
	background-color: #282828;
	height:100px;
	line-height: 100px;
}

.footer span {
	margin: 0px 3px;
	color:#ff2b68;
}

h1 {
	font-family: Supercell-magic;
	color: white;
	font-size: 0.8em;
	text-shadow: 2px 2px 0px #000000;
	margin:0px;
}

h1 span {
	color:#ffe16b;
}
.versus, input[type="text"]{
	border:none;
	height: 50px;
	padding: 0px 20px;
	color:white
}
input[type="text"] {
	font-family: Supercell-magic;
	background-color: rgba(0, 0, 0, 0.31);
	height: 50px;
	width: 80%;
}
input[type="text"]::placeholder {
	color: rgba(255, 255, 255, 0.13);
}

.ErrorMessage {
	color:#ff2b68;
	margin-top:30px;
}

.versus {
	font-family: Supercell-magic;
	border-radius: 5px;
	background-color: #43db68;
	width: 150px;
	margin-top: 20px;
}

.versus:hover {
	background-color:#f077f4;
}

a.versus:link {
	text-decoration: none; }

button {
	border-radius: 100%;
	border: none;
	width: 50px;
	height: 50px;
	background-color: #33da5c;
	color:white;
	margin: 20px 0px 0px 0px;
}

button:hover {
	background-color:#f077f4;
}

input[type="submit"], button{
	box-shadow: 2px 2px 1px #171717;
	transition:background-color .3s ease;
}

.vs {
	margin:10px;
	text-shadow: 2px 2px 1px #171717;
}

.tagCard {
	position:relative;
}

.tagCard button {
	box-shadow: none;
	background-color: transparent;
	color:#ff2b68;
	position:absolute;
	top:15px;
}
.tagCard button:hover{
	transform: scale(1.3) rotate(10deg);
}
