.item{
	background-color: #312b41;
	border-radius: 10px;
	box-shadow: 2px 2px 1px #171717;
	color: white;	
	width:50%;
	margin:auto;
	margin-top:20px;
	text-align:center;
	font-family: Supercell-magic;
	font-size:1rem;
}
.statsContent {
	background-color: #383658;
	padding:10px 0px;
}

.statsContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	font-size: 1rem;
}

.donutChart {
	margin-top: 50px;
}

.donutChart .pseudo {
	text-align: center;
	font-family: Supercell-magic;
}

.versusContainer {
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding:30px;
}

.player {
	text-align: center;
	font-family: Supercell-magic;
	padding:20px;
	width:50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	position:absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Supercell-magic;
	font-size: 20px;
	color:#fc00f4;
}
.titreSection{
	font-family: Supercell-magic;
	padding:20px;
	text-shadow: 2px 2px 0px #000000;
}
