.item{
	/*background-color: #312b41;*/
	background-color:rgba(37,36,43,0.52);
	width:95%;
	box-shadow: 2px 2px 1px #171717;
	color: white;
	margin:auto;
	margin-top:20px;
	text-align:center;
	font-size:1rem;
}

@media (min-width: 768px) {
	.item {
		width:80%;
	}

}

@media (min-width: 1200px) {
	.item {
		margin:0;
		width:100%;
		margin-right:10px;
		margin-left:10px;
	}
	.statsContent{
		display:grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
	}
	.winrateSection{
		grid-column: 1/4;
  		grid-row: 3;
	}
	.versusDisplay{
		grid-column: 2/3;
		grid-row: 1;
	}
	.currentDeck{
		grid-column: 1/4;
		grid-row:5;
	}
	.prefered-card{
		grid-row:4;
		grid-column: 1/2;
	}
	.cardDiscovered{
		grid-row:4;
		grid-column: 3/4;
	}
}

.statsContent {
	/*background-color: #383658;*/
	background-image: url('../img/bg-landing.png');
	padding:10px 0px;
}

.cardPictureContainer, .link, .versusContainer, .pseudo, .versusDisplay  {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content:space-around;
}

.legend  .legendItem {
	justify-content:center;
}

.legendItem {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content:center;
}

.legend {
	font-size: 10px;
	margin-bottom: 20px;
}

.legendCircle {
	height:20px;
	width:20px;
	border-radius:100%;
	border:1px solid white;
	margin:5px 10px;
}

.blue {
	background-color: #d851b9;
}

.orange {
	background-color: #e077c8;
}

.green {
	background-color: #e99cd7;
}

.listContainer {
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.pseudo {
	text-align: center;
	margin:15px;
	font-size: 12px;
}
.versusContainer, .titreSection, .elixirValue, .cardName, .legendItem, .pseudo {
	text-shadow: 2px 2px 0px #000000;
	font-family: Supercell-magic;
}

.versusContainer {
	width:100%;
	justify-content: center;
	padding:30px;
}

.versusContainer .pseudo {
	text-align: center;
	padding:20px;
	font-size: 15px;
	width:50%;
	margin:0px;
	align-items: center;
}

.link, .elixirInfos, .elixirValue, .return  {
	position:absolute;
}

.link {
	font-size: 20px;
	color:#fc00f4;
}
.titreSection{
	padding:20px;
}

.cardPictureContainer {
	margin:10px;
}

.cardPicture {
	position:relative;
}

.card {
	height:150px;
	background:none;
	border:none;
}

.elixirInfos {
	top:-10px;
	left:-10px;
}

.elixir {
	height:30px;
}
.elixirValue {
	top:8px;
	left:12px;
	font-size:10px;
}

.cardName {
	font-size:12px;
	width:100%;
	text-align: center;
}

.CurrentDeckContainer {
	width:85%;
	margin:0px 0px 20px 0px;
}

.CardsContainer {
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.CardsContainer .card {
	height:100px;
	margin:5px 20px;
}

.CardsContainer .elixirInfos {
	top:0px;
	left:0px;
}

.CardsContainer .cardName {
	font-size:10px;
}

.apexcharts-tooltip-title {
	margin:0px;
	color:black;
}

g .apexcharts-pie-series path{
	stroke:none;
}

.return {
	margin:0px 20px;
	width:30px;
	cursor:pointer;
}

.return:hover {
	width:28px;
}
.donutChart .apexcharts-datalabel-value {

}
